<footer class="footer text-white py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-3">
                <h6 class="fw-bold">Vareli Tecsoft Pvt. Ltd.</h6>
                <p class="small">infovareli.co.in</p>
                <p class="small">42 Prafapadiya Road, Sahanagar,<br>Kolkata - 700 026</p>
                <p class="small">033 2466 0248</p>
            </div>

            <div class="col-md-3">
                <h6 class="fw-bold">Explore On</h6>
                <ul class="list-unstyled small">
                    <li><a href="#" class="text-white text-decoration-none">Blogs</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Team</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Products</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h6 class="fw-bold">Our Services</h6>
                <ul class="list-unstyled small">
                    <li>Integrations</li>
                    <li>Web Applications</li>
                    <li>Mobile Applications</li>
                    <li>Dashboards</li>
                </ul>
            </div>

            <div class="col-md-3">
                <h6 class="fw-bold">Social Media</h6>
                <div class="d-flex flex-wrap gap-2">
                    <a href="#" class="text-white fs-5"><i class="bi bi-facebook foot-icon"></i></a>
                    <a href="#" class="text-white fs-5"><i class="bi bi-instagram foot-icon"></i></a>
                    <a href="#" class="text-white fs-5"><i class="bi bi-linkedin foot-icon"></i></a>
                </div>
                <div class="d-flex flex-wrap gap-2">
                    <a href="#" class="text-white fs-5"><i class="bi bi-twitter foot-icon"></i></a>
                    <a href="#" class="text-white fs-5"><i class="bi bi-youtube foot-icon"></i></a>
                    <a href="#" class="text-white fs-5"><i class="bi bi-quora foot-icon"></i></a>

                </div>
            </div>

        </div>

        <hr class="border-light mt-4" />

        <div class="d-flex justify-content-between small">
            <div>&copy; Copyright 2023</div>
            <div>
                <a href="#" class="text-white text-decoration-none me-3">Privacy Policy</a>
                <a href="#" class="text-white text-decoration-none">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>